*, *::before, *::after {
  box-sizing: border-box;
}

.home-navbar {
  height: 100vh;
  display: flex;
  background: url("/public/img/hero-bg.svg"), #fcefd5;
  background-size: cover;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  min-width: 1300px;
}


.home-navbar .navbar-container {
margin-top: 55px;
}

.home-navbar .navbar-container .menu {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.home-navbar .navbar-container .menu .brand-logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #002a48;
  padding: 5px;
}

.home-navbar .navbar-container .menu .links {
  min-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #002a48;
}

.home-navbar .navbar-container .menu .links .login-button {
  width: 200px;
  border-radius: 50px;
  background: #002a48;
  color: #fff;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.home-navbar .navbar-container .menu .links .login-button:hover {
  background: skyblue;
}

.home-navbar .navbar-container .menu .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 24px;
}

.home-navbar a {
  text-decoration: none;
}

.home-navbar .hover-line a {
  color: #002a48;
  font-size: 16px;
  z-index: 100;
  font-weight: 700;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.home-navbar .underline {
  display: lock;
  content: "";
  border-bottom: solid 2px  #002a48; 
}

.home-navbar .hover-line:after {
  display: block;
  content: "";
  border-bottom: solid 2px #002a48;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.home-navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.home-navbar div.hover-line:after {
  transform-origin: 0% 50%;
}

.home-navbar .navbar-container .header-frame {
  margin-top: 142px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-navbar .navbar-container .header-frame .detail {
  margin-top: 50px;
  width: 510px;
  display: flex;
  flex-direction: column;
}

.home-navbar .navbar-container .header-frame .detail .head-main-text {
  width: 550px;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.75px;
  color: #002a48;
}

.home-navbar .navbar-container .header-frame .detail .wel-txt {
  width: 510px;
  height: 42px;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.54px;
  color: #002a48;
}

.home-navbar .navbar-container .header-frame .detail .service-txt {
  margin-top: 23px;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #002a48;
}

.home-navbar .navbar-container .detail .signup {
  margin-top: 73px;
}

.home-navbar .navbar-container .detail .signup .signup-button {
  width: 210px;
  height: 50px;
  border-radius: 50px;
  background: #002a48;
  text-align: center;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 17px;
  line-height: normal;
  color: #fff;
}

.home-navbar .navbar-container .detail .signup .signup-button:hover {
  background: skyblue;
}

.home-navbar .navbar-container .logo-frame {
  margin-top: 100px;
  margin-left: 100px;
  width: 690px;
  height: 419px;
  display: flex;
  flex-direction: column;
}

.home-navbar .navbar-container .logo-frame .logo-img {
  width: 100%;
  height: 100%;
  background: url("/public/img/hero-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

/*OTHER NAVBAR STARTS HERE*/

.other-navbar {
  width: 100%;
  height: 550px;
  display: flex;
  background: white;
  background-size: cover;
}

.other-navbar .navbar-container {
  margin-top: 55px;
}

.other-navbar .navbar-container .menu {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.other-navbar .navbar-container .menu .brand-logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #002a48;
  padding: 5px;
}

.other-navbar .navbar-container .menu .links {
  min-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #002a48;
}

.other-navbar .navbar-container .menu .links .login-button {
  width: 200px;
  border-radius: 50px;
  background: #002a48;
  color: #fff;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.other-navbar .navbar-container .menu .links .login-button:hover {
  background: skyblue;
}

.other-navbar .navbar-container .menu .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  border: 1px solid #002a48;
}

.other-navbar a {
  text-decoration: none;
}

.other-navbar .hover-line a {
  color: #002a48;
  font-size: 16px;
  z-index: 100;
  font-weight: 700;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.other-navbar .underline {
  display: lock;
  content: "";
  border-bottom: solid 2px #002a48;
}

.other-navbar .hover-line:after {
  display: block;
  content: "";
  border-bottom: solid 2px #002a48;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.other-navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.other-navbar div.hover-line:after {
  transform-origin: 0% 50%;
}

/* BASKET */

.hover-line .icon-button{
  background: #002a48;
  color: #FCEFD6;
}

.hover-line .icon-button:hover{
  background: skyblue;
}

.basket-frame {
  position: relative;
  padding: 10px 4px 0px 4px;
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #f8f8ff;
  border-radius: 16px;
}

.basket-frame .all-check-box {
  padding: 0px 6px;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #002a48;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #343434;
  color: #fff;
}

.basket-frame .basket-info-box {
  position: relative;
  margin-top: 6px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basket-info-box .product-img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  border-radius: 29px;
  object-fit: cover;
  object-position: center;
}

.basket-info-box .product-name {
  margin-left: 11px;
  width: 185px;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.basket-info-box .product-price {
  width: 80px;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #E60012;
}

.basket-info-box
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 6.5px 14px;
}

.basket-info-box .css-ece9u5 {
  min-width: 72px;
}

.basket-frame .cancel-btn {
  position: absolute;
  top: 33%;
  right: 2%;
  cursor: pointer;
}

.basket-frame .basket-order {
  margin-top: 10px;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 2px solid #002a48;
}

.basket-order .price {
  width: 200px;
  display: flex;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.basket-frame button{
  color: #fff;
  background-color: #002a48;
  border-radius: 20px;
}

.basket-frame .orders-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.basket-frame .orders-wrapper::-webkit-scrollbar {
  width: 10px;
}

.basket-frame .orders-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.basket-frame .orders-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.basket-frame .orders-main-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
}


.other-navbar .navbar-container .other-banner{
  margin-top: 30px;
  /* display: flex; */
  width: 100%;
  height: 400px;
  background-image: url("/public/img/other.png");
  background-color: rgb(252, 239, 214);
  background-position: center center;
  background-size: cover;    
  background-repeat: no-repeat;            
  text-align: right;
  align-items: flex-end;
  overflow: hidden;
  border-radius: 20px;
  box-sizing: border-box;
}

.other-navbar .navbar-container .other-banner .ads-img-frame{
  width: 100%;
  height: 400px;
  display: flex;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
  align-items: flex-end;
  padding-right: 50px;
  justify-content: center;
}


.other-navbar .navbar-container .other-banner .ads-img-frame .ads-title{
  align-self: flex-end;
  max-width: auto;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 43px;
}

.other-navbar .navbar-container .other-banner .ads-img-frame .ads-sub-title{ 
  margin-top: 5px;
  align-items: flex-end;
  max-width: auto;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 34px;
  font-style: normal;
  line-height: normal;
}

.other-navbar .navbar-container .other-banner .ads-img-frame .ads-text{ 
  margin-top: 5px;
  align-items: flex-end;
  max-width: 460px;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  font-style: normal;
  line-height: normal;
  text-align: end;
  font-size: 14px;
}


.other-navbar .navbar-container .other-banner .ads-img-frame .ads-button{ 
  width: 152px;
  height: 46px;
  border-radius: 50px;
  background: #fdfdfd;
  text-align: center;
  font-family: "SF Pro Display", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
  color: #003459;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  align-content: center;
  margin-top: 20px;
}